<div class="card container form-container">
    <div class="row">        
        <div class="col-md-6">
            <h1>Job Application</h1>
            
            <div>
                <form #jobapplication="ngForm">
                    <div class="form-group">
                        <label for="dateofwriting">Date of Writing</label>
                        <input type="text"
                                class="form-control"
                                id="dateofwriting"
                                required
                                name="dateofwriting"
                                #dateofwriting='ngModel'
                                [(ngModel)]="jobapplication.dateofwriting"
                                >
                        <div [hidden]="dateofwriting.valid || dateofwriting.pristine" class="alert alert-danger">
                            Date of Writing is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empname">Employer Name</label>
                        <input type="text" 
                                class="form-control"
                                id="empname"
                                placeholder="ABC Kumar"
                                required
                                name="empname"
                                #empname="ngModel"
                                [(ngModel)]="jobapplication.empname"
                                >
                        <div [hidden]="empname.valid || empname.pristine" class="alert alert-danger">
                            Employer name required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emporg">Employer Organisation</label>
                        <input type="text"
                                class="form-control"
                                id="emporg"
                                placeholder="Investopad Pvt. Ltd."
                                required
                                name="emporg"
                                #emporg='ngModel'
                                [(ngModel)]="jobapplication.emporg"
                                >
                        <div [hidden]="emporg.valid || emporg.pristine" class="alert alert-danger">
                            Employer Organisation is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empaddress">Employer Address</label>
                        <input type="text"
                                class="form-control"
                                id="empaddress"
                                placeholder="Investopad"
                                required
                                name="empaddress"
                                #empaddress='ngModel'
                                [(ngModel)]="jobapplication.empaddress"
                                >
                        <div [hidden]="empaddress.valid || empaddress.pristine" class="alert alert-danger">
                            Employer Address is required
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="empaddress2">Employer Address Line 2</label>
                      <input type="text"
                              class="form-control"
                              id="empaddress2"
                              placeholder="Malviya Nagar, New Delhi - 110072"
                              name="empaddress2"
                              #empaddress2='ngModel'
                              [(ngModel)]="jobapplication.empaddress2"
                              >
                    </div>
                    <div class="form-group">
                        <label for="myname">Your Name</label>
                        <input type="text" 
                                class="form-control"
                                id="myname"
                                placeholder="XYZ Kumar"
                                required
                                name="myname"
                                #myname="ngModel"
                                [(ngModel)]="jobapplication.myname"
                                >
                        <div [hidden]="myname.valid || myname.pristine" class="alert alert-danger">
                            Your name required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="myaddress">Your Current Address</label>
                        <input type="text"
                                class="form-control"
                                id="myaddress"
                                placeholder="323, Saket"
                                required
                                name="myaddress"
                                #myaddress='ngModel'
                                [(ngModel)]="jobapplication.myaddress"
                                >
                        <div [hidden]="myaddress.valid || myaddress.pristine" class="alert alert-danger">
                            Your Current Address is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="myaddress2">Your Current Address Line 2</label>
                        <input type="text"
                                class="form-control"
                                id="myaddress2"
                                placeholder="New Delhi - 110049"
                                name="myaddress2"
                                #myaddress2='ngModel'
                                [(ngModel)]="jobapplication.myaddress2"
                                >
                    </div>
                    <div class="form-group">
                        <label for="post">Post Applied</label>
                        <input type="text"
                                class="form-control"
                                id="post"
                                placeholder="Full Stack Developer"
                                required
                                name="post"
                                #post='ngModel'
                                [(ngModel)]="jobapplication.post"
                                >
                        <div [hidden]="post.valid || post.pristine" class="alert alert-danger">
                            Post Applied is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="department">Department Applied</label>
                        <input type="text"
                                class="form-control"
                                id="department"
                                placeholder="Software/Accounts"
                                required
                                name="department"
                                #department='ngModel'
                                [(ngModel)]="jobapplication.department"
                                >
                        <div [hidden]="department.valid || department.pristine" class="alert alert-danger">
                            Department Applied is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addate">Advertisement Date</label>
                        <input type="text"
                                class="form-control"
                                id="addate"
                                required
                                name="addate"
                                #addate='ngModel'
                                [(ngModel)]="jobapplication.addate"
                                >
                        <div [hidden]="addate.valid || addate.pristine" class="alert alert-danger">
                            Advertisement Date is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="degree">Degree</label>
                        <input type="text"
                                class="form-control"
                                id="degree"
                                placeholder="B.Tech/B.Sc"
                                required
                                name="degree"
                                #degree='ngModel'
                                [(ngModel)]="jobapplication.degree"
                                >
                        <div [hidden]="degree.valid || degree.pristine" class="alert alert-danger">
                            Degree is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="branch">Branch</label>
                        <input type="text"
                                class="form-control"
                                id="branch"
                                placeholder="CSE/Economics"
                                required
                                name="branch"
                                #branch='ngModel'
                                [(ngModel)]="jobapplication.branch"
                                >
                        <div [hidden]="branch.valid || branch.pristine" class="alert alert-danger">
                            Branch is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="institute">Institute</label>
                        <input type="text"
                                class="form-control"
                                id="institute"
                                placeholder="CIC/IIT/NIT"
                                required
                                name="institute"
                                #institute='ngModel'
                                [(ngModel)]="jobapplication.institute"
                                >
                        <div [hidden]="institute.valid || institute.pristine" class="alert alert-danger">
                            Institute is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pastexp">Past Experience</label>
                        <input type="number"
                                class="form-control"
                                id="pastexp"
                                required
                                minlength="1"
                                name="pastexp"
                                #pastexp='ngModel'
                                [(ngModel)]="jobapplication.pastexp"
                                >
                        <div [hidden]="pastexp.valid || pastexp.pristine" class="alert alert-danger">
                            Past Experience is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="currentemp">Current Organisation</label>
                        <input type="text"
                                class="form-control"
                                id="currentemp"
                                placeholder="DRDO/Reliance"
                                required
                                name="currentemp"
                                #currentemp='ngModel'
                                [(ngModel)]="jobapplication.currentemp"
                                >
                        <div [hidden]="currentemp.valid || currentemp.pristine" class="alert alert-danger">
                            Current Organisation is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text"
                                class="form-control"
                                id="city"
                                placeholder="New Delhiactivitie"
                                required
                                name="city"
                                #city='ngModel'
                                [(ngModel)]="jobapplication.city"
                                >
                        <div [hidden]="city.valid || city.pristine" class="alert alert-danger">
                            City is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="activities">Activities</label>
                        <input type="text"
                                class="form-control"
                                id="activities"
                                placeholder="Sports/Music/Dance"
                                required
                                name="activities"
                                #activities='ngModel'
                                [(ngModel)]="jobapplication.activities"
                                >
                        <div [hidden]="activities.valid || activities.pristine" class="alert alert-danger">
                            Activities is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="myphoneno">Phone Number</label>
                        <input type="number"
                                class="form-control"
                                id="myphoneno"
                                placeholder="9999888800"
                                required
                                minlength="10"
                                name="myphoneno"
                                #myphoneno='ngModel'
                                [(ngModel)]="jobapplication.myphoneno"
                                >
                        <div [hidden]="myphoneno.valid || myphoneno.pristine" class="alert alert-danger">
                            Phone Number is required
                        </div>
                    </div>
                </form>
            </div>
        </div>
  
        <div class="col-md-6">
            <div>
                <br><br><br><br><br><br>
                <p>To, <br>
                   {{ jobapplication.empname }} <br>
                   {{ jobapplication.emporg }} <br>
                   {{ jobapplication.empaddress }} <br>
                   {{ jobapplication.empaddress2 }}
                </p>
  
                <p>From, <br>
  
                   {{ jobapplication.myname }} <br>
                   {{ jobapplication.myaddress }} <br>
                   {{ jobapplication.myaddress2 }}
                </p>
                <p>Date : {{ jobapplication.dateofwriting }}</p>
  
                <p>Dear Mr/Ms {{ jobapplication.empname }}, </p>
  
                <p>I have seen your advertisement for the post of {{ jobapplication.post }} in {{ jobapplication.department }} dated {{ jobapplication.addate }}. I am interested in applying for the same.</p>
  
                <p>I have a {{ jobapplication.degree }} degree in {{ jobapplication.branch }} from {{ jobapplication.institute }}. For the past {{ jobapplication.pastexp }} I am working in a {{ jobapplication.currentemp }}, in {{ jobapplication.city }}. Along with academics, I am interested in activities like {{ jobapplication.activities }}. I am sending copies of my certificates including my resume for your persual.</p>

                <p>Your {{ jobapplication.emporg }} has a good reputation in the society and I want to become a part of this prestigious institution. If given a chance I shall put in all my effort to excel in the job and bring laurels to the organisation.</p>
  
                <p>Looking forward to hear a positive response from you,</p>
  
                <p>Thanking you,</p>
  
                <p>Yours Sincerely,<br>
                   {{ jobapplication.myname }} <br>
                   {{ jobapplication.myphoneno }} </p>
  
  
            </div>
        </div>
    </div>      
  </div>
  