.app-body{
    margin-top: 60px;
    margin-bottom: 40px;
}

.nav-styles{
    background-color: #1a1b22;
}

.nav-styles a {
    color: white;
}

.nav-styles a:hover {
    color: #c9c9c9;
}

.nav-link.active {
    color: #e64758 !important;
}

.dropdown-links a {
    color: #1a1b22;
}

.dropdown-links a:hover {
    color: #252830;
}

#templateDropdown {
    margin-left: 15px;
    cursor: pointer;
}

#otherTemplateDropdown {
    margin-left: 15px;
    cursor: pointer;
}

#proposalDropdown {
    margin-left: 8px;
    cursor: pointer;
}

#footie {
    font-size: 25px;
    text-align: center;
    color: black;
}
  
#footie > a {
    text-decoration: none;
}

#footie > span {
    color: red;
}