/* You can add global styles to this file, and also import other style files */

body{
    background-image: url(assets/img/giphy.gif);
    font-family: 'Ubuntu', sans-serif;
    background-size: cover;
}